html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
  
ul.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

ul.navbar > li {
    float: right;
}

ul.navbar > li > a {
    display: block;
    padding: 15px 15px;
    text-align: center;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(124, 117, 172);
}

a#logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslateblue;
}

.content {
    margin-top: 50px;
    padding: 20px;
    height: 600px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 40px;
}

.content section {
    scroll-snap-align: start;
    height: 600px;
}

.column {
    padding: 10px;
}

.column.left {
    width: 25%;
}

.column.right {
    text-align: right;
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}